 <div class="row">
        <div class="col-md-10">
            <h2>Courses</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Course</th>
                    <th>Course Name</th>
                    <th>Instructor</th>
                </tr>
                <tr ng-repeat="course in courses">
                    <td>{{course.number}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.instructor}}</td>
                </tr>
            </table>
        </div>
    </div>